@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RigidSquare';
  src: url('/fonts/fonnts.com-Rigid_Square_Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "RigidSquare", sans-serif !important;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  overflow-x: hidden;
}
